@*
    This partial view represents the menu in the side of each account page.
*@

@using Jewellis.Areas.Account.Controllers

@model string

@{
    if (ViewData["UserFullName"] == null)
    {
        throw new Exception("ViewData[\"UserFullName\"] is required in order to use this partial view.");
    }
}

<h3 class="block-title">@ViewData["UserFullName"]</h3>
<aside class="form-container bg-white p-0 mb-5">
    <menu>
        <ul class="side-menu">
            <li @(Model.Equals("Orders") ? "class=selected" : "")>
                <a asp-area="Account" asp-controller="Orders" asp-action="Index"><span class="icon icon-stack1" aria-hidden="true"></span>Orders</a>
            </li>
            <li @(Model.Equals("Wishlist") ? "class=selected" : "")>
                <a asp-area="Account" asp-controller="Wishlist" asp-action="Index"><span class="icon icon-heart6" aria-hidden="true"></span>Wishlist</a>
            </li>
            <li @(Model.Equals("Profile") ? "class=selected" : "")>
                <a asp-area="Account" asp-controller="Profile" asp-action="Index"><span class="icon icon-vcard" aria-hidden="true"></span>Profile</a>
            </li>
            <li @(Model.Equals("Address") ? "class=selected" : "")>
                <a asp-area="Account" asp-controller="Profile" asp-action="Address"><span class="icon icon-location" aria-hidden="true"></span>Address</a>
            </li>
            <li>
                <a asp-area="Account" asp-controller="Authenticate" asp-action="Logout"><span class="icon icon-exit" aria-hidden="true"></span>Log out</a>
            </li>
        </ul>
    </menu>
</aside>
