@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    ViewData["Title"] = "About";
}

<section class="bg-light-1">
    <div class="sec-container">
        <div class="container py-5-desktop">
            <div class="row">
                <div class="col-xl-2">
                    <div class="horizontal-line d-none d-xl-block"></div>
                </div>
                <div class="col-xl-10">
                    <h3 class="txt-accent text-uppercase mb-3">About Us</h3>
                    <h1 class="title-1 font-weight-bold mb-5">We are Jewellis!</h1>
                    <p class="paragraph-1">Jewellis is an e-commerce specialized in jewelry. The Jewellis team knows that when you are buying jewelry, you are looking for nothing less then perfection.</p>
                    <p class="paragraph-1 mb-5">Unfortunately, this site is actually a final project in Web Application Development course, fictive, for illustration purposes, created by three B.Sc. students: Ohad Shai, Daniel Baranes, and Michael Garbuzov.</p>
                    <h3 class="line-height-1-5 mb-5">You can find our Git project in <a href="@Configuration.GetSection("Metadata")["GitProjectLink"]" target="_blank">this link</a>.</h3>
                    <img src="..." class="mb-5" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light-2">
    <div class="sec-container">
        <div class="container py-5-desktop">
            <div class="row">
                <div class="col-xl-2">
                    <div class="horizontal-line d-none d-xl-block"></div>
                </div>
                <div class="col-xl-10">
                    <h3 class="txt-accent text-uppercase mb-5">From The Newspaper</h3>
                    <div class="newspaper">
                        <div class="paper-cut-top"></div>
                        <div class="paper-cut-bottom"></div>
                        <div class="newspaper-content">
                            <h2 class="text-uppercase text-center mb-5">Jewellis: The Best E-commerce For Jewelry</h2>
                            <div class="multi-col">
                                Three computer science students from The College of Management have just created the best jewelry e-commerce site ever. Their highly sophisticated system built on ASP.NET Core 5.0 amazes every human on this planet, and potentially other life forms outside the planet of Earth. No matter if you are a male or female, cat or dog - when you will enter the site of Jewellis, in an instant you will find yourself spending all of your money on their Jewelry. <strong>Gladly</strong>, their site is actually fake, fictive, for illustration purposes only, so you will not be charged by anything, but one day, when the right time comes, the power of Jewellis will be unleashed to the world, but "<i>do not worry</i>" - the students say, "<i>With great power comes great responsibility.</i>"
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="students" class="bg-light-1">
    <div class="sec-container">
        <div class="container py-5-desktop">
            <div class="row">
                <div class="col-xl-2">
                    <div class="horizontal-line d-none d-xl-block"></div>
                </div>
                <div class="col-xl-10">
                    <h3 class="txt-accent text-uppercase mb-3">The Team</h3>
                    <h1 class="title-1 font-weight-bold mb-5">Students</h1>
                    <div class="people-list">
                        <div class="person">
                            <a href="@Configuration.GetSection("Metadata").GetSection("StudentLinks").GetSection("Ohad")["LinkedIn"]" target="_blank">
                                <img class="avatar avatar-xl shadow-0 mb-3" src="~/images/about-ohad.jpg" alt="Ohad Shai">
                                <h4>Ohad Shai</h4>
                            </a>
                            <ul class="text-muted person-links">
                                <li><a href="@Configuration.GetSection("Metadata").GetSection("StudentLinks").GetSection("Ohad")["LinkedIn"]" target="_blank" class="primary-link mb-1"><span class="icon icon-linkedin icon-top-adjust mr-3" aria-hidden="true"></span>LinkedIn</a></li>
                                <li><a href="@Configuration.GetSection("Metadata").GetSection("StudentLinks").GetSection("Ohad")["GitHub"]" target="_blank" class="primary-link"><span class="icon icon-github2 icon-top-adjust mr-3" aria-hidden="true"></span>GitHub</a></li>
                            </ul>
                        </div>
                        <div class="person">
                            <a href="@Configuration.GetSection("Metadata").GetSection("StudentLinks").GetSection("Daniel")["LinkedIn"]" target="_blank">
                                <img class="avatar avatar-xl shadow-0 mb-3" src="~/images/about-daniel.jpg" alt="Daniel Baranes">
                                <h4>Daniel Baranes</h4>
                            </a>
                            <ul class="text-muted person-links">
                                <li><a href="@Configuration.GetSection("Metadata").GetSection("StudentLinks").GetSection("Daniel")["LinkedIn"]" target="_blank" class="primary-link mb-1"><span class="icon icon-linkedin icon-top-adjust mr-3" aria-hidden="true"></span>LinkedIn</a></li>
                                <li><a href="@Configuration.GetSection("Metadata").GetSection("StudentLinks").GetSection("Daniel")["GitHub"]" target="_blank" class="primary-link"><span class="icon icon-github2 icon-top-adjust mr-3" aria-hidden="true"></span>GitHub</a></li>
                            </ul>
                        </div>
                        <div class="person">
                            <a href="@Configuration.GetSection("Metadata").GetSection("StudentLinks").GetSection("Michael")["LinkedIn"]" target="_blank">
                                <img class="avatar avatar-xl shadow-0 mb-3" src="~/images/about-michael.jpg" alt="Michael Garbuzov">
                                <h4>Michael Garbuzov</h4>
                            </a>
                            <ul class="text-muted person-links">
                                <li><a href="@Configuration.GetSection("Metadata").GetSection("StudentLinks").GetSection("Michael")["LinkedIn"]" target="_blank" class="primary-link mb-1"><span class="icon icon-linkedin icon-top-adjust mr-3" aria-hidden="true"></span>LinkedIn</a></li>
                                <li><a href="@Configuration.GetSection("Metadata").GetSection("StudentLinks").GetSection("Michael")["GitHub"]" target="_blank" class="primary-link"><span class="icon icon-github2 icon-top-adjust mr-3" aria-hidden="true"></span>GitHub</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
