@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    ViewData["Title"] = "Stores";
}

@{
    // TODO: To be deleted and replaced by DB
    double store1Latitude = 32.0748402;
    double store1Longitude = 34.7751358;
    double store2Latitude = 32.0687168;
    double store2Longitude = 34.7780078;
    double store3Latitude = 31.9913925;
    double store3Longitude = 34.7764307;
}

<section class="bg-light-2">
    <div class="sec-container">
        <div class="maxw-2xl m-auto py-5-desktop">
            <h1 class="title-1 font-weight-bold mb-5">Our Stores</h1>
            <div class="row">
                <div class="col-xl-8 mb-5">
                    <div class="form-container bg-white" id="stores-list">
                        <div class="table-body">
                            <div class="table-row">
                                <h3 class="txt-lg mb-4">Tel Aviv - Dizengoff Center</h3>
                                <div class="row txt-md">
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-7 col-md-12">
                                                <h4>Address</h4>
                                                <p><a href="#" class="text-link" data-show-map="@(1)">Dizengoff St. 50, Tel Aviv-Yafo</a></p>
                                            </div>
                                            <div class="col-5 col-md-12">
                                                <h4>Phone</h4>
                                                <p><a href="tel:03-1234567" class="text-link">03-1234567</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>Opening Hours</h4>
                                        <p>
                                            Sunday-Thursday: 10:00-20:00
                                            <br />
                                            Friday and Holidays: 10:00-14:00
                                            <br />
                                            Saturday: Closed
                                        </p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end align-items-center px-5">
                                        <button type="button" data-show-map="@(1)" class="btn btn-sm txt-md outline-primary text-nowrap mt-4 mt-md-0">Show in Map<span class="icon icon-arrow-right4 icon-top-adjust ml-3"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-row">
                                <h3 class="txt-lg mb-4">Tel Aviv - Shenkin Street</h3>
                                <div class="row txt-md">
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-7 col-md-12">
                                                <h4>Address</h4>
                                                <p><a href="#" class="text-link" data-show-map="@(2)">Dizengoff St. 50, Tel Aviv-Yafo</a></p>
                                            </div>
                                            <div class="col-5 col-md-12">
                                                <h4>Phone</h4>
                                                <p><a href="tel:03-1234567" class="text-link">03-1234567</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>Opening Hours</h4>
                                        <p>
                                            Sunday-Thursday: 10:00-20:00
                                            <br />
                                            Friday and Holidays: 10:00-14:00
                                            <br />
                                            Saturday: Closed
                                        </p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end align-items-center px-5">
                                        <button type="button" data-show-map="@(2)" class="btn btn-sm txt-md outline-primary text-nowrap mt-4 mt-md-0">Show in Map<span class="icon icon-arrow-right4 icon-top-adjust ml-3"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-row">
                                <h3 class="txt-lg mb-4">Rishon Lezion - HaZahav Mall</h3>
                                <div class="row txt-md">
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-7 col-md-12">
                                                <h4>Address</h4>
                                                <p><a href="#" class="text-link" data-show-map="@(3)">Dizengoff St. 50, Tel Aviv-Yafo</a></p>
                                            </div>
                                            <div class="col-5 col-md-12">
                                                <h4>Phone</h4>
                                                <p><a href="tel:03-1234567" class="text-link">03-1234567</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>Opening Hours</h4>
                                        <p>
                                            Sunday-Thursday: 10:00-20:00
                                            <br />
                                            Friday and Holidays: 10:00-14:00
                                            <br />
                                            Saturday: Closed
                                        </p>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end align-items-center px-5">
                                        <button type="button" data-show-map="@(3)" class="btn btn-sm txt-md outline-primary text-nowrap mt-4 mt-md-0">Show in Map<span class="icon icon-arrow-right4 icon-top-adjust ml-3"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 pl-xl-5 mb-0 mb-xl-5">
                    <div class="form-container bg-white p-0" id="stores-map">
                        <div id="map-container"></div>
                        <div id="map-loader" class="overlap-container d-flex-center">
                            <div class="spinner-border spinner-lg" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        var _map;
        var _infoWindow;
        var _markers;

        function initStoresMap() {
            _map = new google.maps.Map(document.getElementById("map-container"), {
                zoom: 8,
                center: { lat: @store1Latitude, lng: @store1Longitude }
            });

            _infoWindow = new google.maps.InfoWindow();

            // TODO: Loop on each store to add marker:
            _markers = [];
            _markers.push(new google.maps.Marker({
                position: { lat: @store1Latitude, lng: @store1Longitude },
                title: "Tel Aviv - Dizengoff Center",
                map: _map
            }));
            _markers[0].addListener("click", () => {
                showInfoWindow(_markers[0]);
            });
            _markers.push(new google.maps.Marker({
                position: { lat: @store2Latitude, lng: @store2Longitude },
                title: "Tel Aviv - Shenkin Street",
                map: _map
            }));
            _markers[1].addListener("click", () => {
                showInfoWindow(_markers[1]);
            });
            _markers.push(new google.maps.Marker({
                position: { lat: @store3Latitude, lng: @store3Longitude },
                title: "Rishon Lezion - HaZahav Mall",
                map: _map
            }));
            _markers[2].addListener("click", () => {
                showInfoWindow(_markers[2]);
            });

            // Hides the loader:
            document.getElementById('map-loader').style.display = "none";
        }

        function showInfoWindow(marker) {
            _infoWindow.close();
            _infoWindow.setContent(marker.getTitle());
            _infoWindow.open(marker.getMap(), marker);
        }

        $(function () {
            $('[data-show-map]').click(function () {
                // Activates the button selection:
                $(this).parents('#stores-list').find('[data-show-map]').each(function () {
                    $(this).removeClass('active');
                });
                $(this).addClass('active');

                // Navigates to the location in the map:
                var marker = _markers[parseInt($(this).attr('data-show-map')) - 1];
                _map.panTo(marker.getPosition());
                showInfoWindow(marker);
                _map.setZoom(15);

                // Scrolls down to the map container if needed:
                var $storesMap = $('#stores-map');
                var currentViewBottom = ($(window).scrollTop() + $(window).outerHeight());
                var mapBottom = ($storesMap.offset().top + $storesMap.outerHeight());
                if (mapBottom > currentViewBottom) {
                    $('html, body').stop().animate({
                        'scrollTop': ($storesMap.offset().top - $('#main-header').outerHeight() - (5 * 10))
                    }, 500, 'swing');
                }
            });
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@Configuration.GetSection("UserSecrets").GetSection("WebServicesCredentials")["MapsJavascriptAPI"]&callback=initStoresMap&language=en" async></script>
}
