@using Jewellis.Models.Helpers

@model Jewellis.Areas.Admin.ViewModels.Contacts.IndexVM

@{
    ViewData["Title"] = "Contacts";

    List<Contact> contacts = (ViewData["ContactsModel"] as List<Contact>);
}

<section class="bg-light-2">
    <div class="sec-container">
        <div class="maxw-2xl m-auto">
            <ul class="breadcrumb p-0 mb-5">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index" class="primary-link"><u>Admin</u></a></li>
                <li class="breadcrumb-item">Contacts</li>
            </ul>
            <h1 class="title-1 font-weight-bold mb-5">Contacts</h1>
            <div class="form-container bg-white mb-5">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <div class="flex-fill maxw-lg mb-3">
                        <form asp-area="Admin" asp-controller="Contacts" asp-action="Index" method="get">
                            <div class="d-flex flex-column flex-md-row align-items-end">
                                <div class="row flex-fill w-100 w-lg-auto align-items-end p-0 m-0">
                                    <div class="col-sm-6 p-0 pr-sm-5">
                                        <div class="single-form-item">
                                            <label asp-for="Status"></label>
                                            <select asp-for="Status" asp-items="Html.GetEnumSelectList<ContactStatus>()" class="i-txt bg-input-txt">
                                                <option selected></option>
                                            </select>
                                            <span asp-validation-for="Status" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 p-0 pr-md-5">
                                        <div class="single-form-item">
                                            <input asp-for="Query" class="i-txt bg-input-txt" autocomplete="off" />
                                            <span asp-validation-for="Query" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-form-item">
                                    <button type="submit" class="btn outline-primary mob-icon px-5"><span class="mob-icon-text">Search</span><span class="icon icon-search2 icon-top-adjust" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="border">
                    <div class="table-header text-center">
                        <div class="d-flex">
                            <div class="row flex-fill">
                                <div class="col-md-6">Contact</div>
                                <div class="col-md-2 d-none d-md-block">Date</div>
                                <div class="col-md-4 d-none d-md-block">Status</div>
                            </div>
                            <div class="d-none d-lg-block" style="width: 41rem;">Actions</div>
                        </div>
                    </div>
                    <div class="table-body">
                        @foreach (Contact contact in contacts)
                        {
                            <div class="table-row hover-bg px-4 py-5">
                                <div class="d-flex flex-column flex-lg-row justify-content-end align-items-center">
                                    <div class="row flex-fill d-flex align-items-center w-100 w-lg-auto px-lg-5 mb-4 mb-lg-0">
                                        <div class="col-md-6 text-center text-md-left">
                                            <a asp-area="Admin" asp-controller="Contacts" asp-action="Details" asp-route-id="@contact.Id" class="primary-link font-weight-bold text-ellipsis d-inline-block">@contact.Subject</a>
                                            <p class="text-ellipsis m-0">@contact.Name</p>
                                        </div>
                                        <div class="col-md-2 text-center">
                                            <div class="py-3">@contact.DateCreated.ToShortDateString()</div>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <div class="py-3">
                                                <span class="tag @(contact.Status == ContactStatus.Pending ? "tag-warning" : contact.Status == ContactStatus.Handling ? "tag-info" : "tag-success")">@Html.DisplayFor(m => contact.Status)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100 w-md-auto text-center text-lg-right px-3">
                                        <a asp-area="Admin" asp-controller="Contacts" asp-action="Details" asp-route-id="@contact.Id" class="btn btn-sm txt-md outline-info m-1">Details</a>
                                        <div class="dropdown d-inline-block">
                                            <button type="button" id="@($"ChangeStatus{contact.Id}")" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm txt-md outline-warning m-1">Change Status</button>
                                            <div class="dropdown-menu" aria-labelledby="@($"ChangeStatus{contact.Id}")">
                                                <form asp-area="Admin" asp-controller="Contacts" asp-action="UpdateStatus" method="post">
                                                    <input type="hidden" name="id" value="@Html.ValueFor(m => contact.Id)" />
                                                    <input type="submit" name="status" value="@ContactStatus.Pending" class="dropdown-item" />
                                                    <input type="submit" name="status" value="@ContactStatus.Handling" class="dropdown-item" />
                                                    <input type="submit" name="status" value="@ContactStatus.Closed" class="dropdown-item" />
                                                </form>
                                            </div>
                                        </div>
                                        <a asp-area="Admin" asp-controller="Contacts" asp-action="Delete" asp-route-id="@contact.Id" class="btn btn-sm txt-md outline-danger m-1">Delete</a>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (contacts.Count < 1)
                        {
                            <p class="text-center txt-secondary p-5">No Results.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
