<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jewellis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @* Main Header *@
    <header id="main-header" class="fixed-top">
        <div class="lay-wrapper">
            <div class="lay-left">
                <h1 id="main-logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </h1>
                <button id="main-menu-toggler" class="text-shadow" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Menu">
                    <span class="icon icon-menu3" aria-hidden="true"></span>
                </button>
            </div>
            <div class="lay-middle">
                <nav id="main-menu">

                </nav>
            </div>
            <div class="lay-right">
                <ul id="main-controls" class="header-list links-text-shadow">
                    <li>
                        <a href="#" id="main-search-open" role="button"><span class="icon icon-search2" aria-hidden="true"></span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon icon-user5" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a href="#" role="button" data-toggle="modal" data-target="#wishlist-modal"><span class="icon icon-heart6" aria-hidden="true"></span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon icon-cart5" aria-hidden="true"></span><span class="count">3</span></a>
                        <div id="mini-cart" class="dropdown-menu dropdown-menu-right dropdown-nav">
                            @*<div class="mini-cart-empty">
                <h4 class="text-secondary text-center m-0 py-3">Your cart is empty.</h4>
            </div>*@
                            <div class="mini-cart-items">
                                <div class="single-mini-product">
                                    <figure>
                                        <a asp-area="" asp-controller="Product" asp-action="View" asp-route-id="1">
                                            <img src="~/images/product-1.jpg" alt="Product 1" />
                                        </a>
                                    </figure>
                                    <div class="product-details">
                                        <h2><a asp-area="" asp-controller="Product" asp-action="View" asp-route-id="1">Sprite Yoga Companion</a></h2>
                                        <div class="quantity-x-price">
                                            <span>3</span>
                                            <span class="multiply">X</span>
                                            <span>$77.00</span>
                                        </div>
                                        <div class="actions">
                                            <button type="button" class="remove-btn"><span class="icon icon-remove1" aria-hidden="true"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-mini-product">
                                    <figure>
                                        <a asp-area="" asp-controller="Product" asp-action="View" asp-route-id="2">
                                            
                                            <img src="~/images/product-2.jpg" alt="Product 2" />
                                        </a>
                                    </figure>
                                    <div class="product-details">
                                        <h2><a asp-area="" asp-controller="Product" asp-action="View" asp-route-id="2">Yoga Companion Kit</a></h2>
                                        <div class="quantity-x-price">
                                            <span>2</span>
                                            <span class="multiply">X</span>
                                            <span>$6.00</span>
                                        </div>
                                        <div class="actions">
                                            <button type="button" class="remove-btn"><span class="icon icon-remove1" aria-hidden="true"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-mini-product">
                                    <figure>
                                        <a asp-area="" asp-controller="Product" asp-action="View" asp-route-id="3">
                                            <img src="~/images/product-3.jpg" alt="Product 3" />
                                        </a>
                                    </figure>
                                    <div class="product-details">
                                        <h2><a asp-area="" asp-controller="Product" asp-action="View" asp-route-id="3">Sprite Yoga Companion Kit</a></h2>
                                        <div class="quantity-x-price">
                                            <span>1</span>
                                            <span class="multiply">X</span>
                                            <span>$116.00</span>
                                        </div>
                                        <div class="actions">
                                            <button type="button" class="remove-btn"><span class="icon icon-remove1" aria-hidden="true"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mini-cart-total">
                                <span class="text-uppercase txt-secondary">Total</span>
                                <strong class="text-uppercase">$240.00</strong>
                            </div>
                            <div class="mini-cart-actions">
                                <a asp-area="" asp-controller="Cart" asp-action="View" class="btn btn-link primary-link shadow-none">View Cart<span class="icon icon-arrow-right4 ml-2" aria-hidden="true"></span></a>
                                <a asp-area="" asp-controller="Orders" asp-action="Checkout" class="btn outline-primary">Checkout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    @* Wishlist Modal *@
    <div class="modal right fade" id="wishlist-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header px-5 pt-4">
                    <h2 class="modal-title">Wishlist</h2>
                    <button type="button" class="p-3 m-0 h2" data-dismiss="modal" aria-label="Close"><span class="icon icon-close" aria-hidden="true"></span></button>
                </div>
                <div class="modal-body px-5 py-4">
                    @*<div class="d-flex justify-content-center align-items-center h-100">
                            <div class="mini-cart-empty">
                                <div class="text-center txt-secondary mb-2"><span class="icon icon-heart-broken display-1" aria-hidden="true"></span></div>
                                <h4 class="text-secondary text-center m-0 py-3">Your wishlist is empty.</h4>
                            </div>
                        </div>*@
                    <div class="mini-wishlist-items">
                        <div class="single-mini-product">
                            <figure>
                                <a href="@Url.Action("View", "Product", new { area = "Shop", id = "1" })">
                                    <img src="~/images/product-1.jpg" alt="Product 1" />
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2><a href="@Url.Action("View", "Product", new { area = "Shop", id = "1" })">Sprite Yoga Companion</a></h2>
                                <div class="quantity-x-price">
                                    <span>$77.00</span>
                                </div>
                                <div class="actions">
                                    <button type="button" class="wishlist-heart"><span class="icon icon-heart6" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="single-mini-product">
                            <figure>
                                <a href="@Url.Action("View", "Product", new { area = "Shop", id = "2" })">
                                    <img src="~/images/product-2.jpg" alt="Product 2" />
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2><a href="@Url.Action("View", "Product", new { area = "Shop", id = "2" })">Yoga Companion Kit</a></h2>
                                <div class="quantity-x-price">
                                    <span>$58.00</span>
                                </div>
                                <div class="actions">
                                    <button type="button" class="wishlist-heart"><span class="icon icon-heart6" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="single-mini-product">
                            <figure>
                                <a href="@Url.Action("View", "Product", new { area = "Shop", id = "3" })">
                                    <img src="~/images/product-3.jpg" alt="Product 3" />
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2><a href="@Url.Action("View", "Product", new { area = "Shop", id = "3" })">Sprite Yoga Companion Kit</a></h2>
                                <div class="quantity-x-price">
                                    <span>$20.00</span>
                                </div>
                                <div class="actions">
                                    <button type="button" class="wishlist-heart"><span class="icon icon-heart6" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer p-5">
                    <a href="@Url.Action("Wishlist", "Account")" class="btn outline-primary w-100">View Wishlist<span class="icon icon-arrow-right4 icon-top-adjust ml-2" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
    
    @* Content *@
    <main id="main-content" role="main">
        @RenderBody()
    </main>

    @* Main Footer *@
    <footer id="main-footer">
        <div class="container">
            &copy; 2021 - Jewellis - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
