@using Jewellis.Areas.Account.ViewModels.Newsletter

@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject Jewellis.App_Custom.Services.ClientTheme.ClientThemeService ClientTheme
@inject Jewellis.App_Custom.Services.ClientCurrency.ClientCurrencyService ClientCurrency
@inject Jewellis.App_Custom.Services.ClientShoppingCart.ClientShoppingCartService ClientCart

<!DOCTYPE html>
<html lang="en" theme="@ClientTheme.Theme.ID">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Jewellis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body>
    @* Main Header *@
    <header id="main-header" class="fixed-top">
        <div class="lay-wrapper">
            <div class="lay-left">
                <h1 id="main-logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </h1>
                <button id="main-menu-toggler" class="text-shadow" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Menu">
                    <span class="icon icon-menu3" aria-hidden="true"></span>
                </button>
            </div>
            <div class="lay-middle">
                <nav id="main-menu">
                    <ul class="header-list links-text-shadow">
                        <li class="dropdown-show">
                            <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Women">Women</a>
                            <ul class="dropdown-nav category-list">
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Women" asp-route-type="Rings">
                                        <span><img src="~/images/menu-cat-women-rings.jpg" alt="Rings" /></span>
                                        <span>Rings</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Women" asp-route-type="Earrings">
                                        <span><img src="~/images/menu-cat-women-earings.jpg" alt="Earrings" /></span>
                                        <span>Earrings</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Women" asp-route-type="Necklaces">
                                        <span><img src="~/images/menu-cat-women-necklaces.jpg" alt="Necklaces" /></span>
                                        <span>Necklaces</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Women" asp-route-type="Bracelets">
                                        <span><img src="~/images/menu-cat-women-bracelets.jpg" alt="Bracelets" /></span>
                                        <span>Bracelets</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Women" asp-route-type="Watches">
                                        <span><img src="~/images/menu-cat-women-watches.jpg" alt="Watches" /></span>
                                        <span>Watches</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Women" asp-route-type="Glasses">
                                        <span><img src="~/images/menu-cat-women-glasses.jpg" alt="Glasses" /></span>
                                        <span>Glasses</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Women" asp-route-type="Other Accessories">
                                        <span><img src="~/images/menu-cat-women-other.jpg" alt="Other Accessories" /></span>
                                        <span>Other Accessories</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-show">
                            <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Men">Men</a>
                            <ul class="dropdown-nav category-list">
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Men" asp-route-type="Watches">
                                        <span><img src="~/images/menu-cat-men-watches.jpg" alt="Watches" /></span>
                                        <span>Watches</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Men" asp-route-type="Glasses">
                                        <span><img src="~/images/menu-cat-men-glasses.jpg" alt="Glasses" /></span>
                                        <span>Glasses</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Men" asp-route-type="Rings">
                                        <span><img src="~/images/menu-cat-men-rings.jpg" alt="Rings" /></span>
                                        <span>Rings</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Men" asp-route-type="Necklaces">
                                        <span><img src="~/images/menu-cat-men-necklaces.jpg" alt="Necklaces" /></span>
                                        <span>Necklaces</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Men" asp-route-type="Other Accessories">
                                        <span><img src="~/images/menu-cat-men-other.jpg" alt="Other Accessories" /></span>
                                        <span>Other Accessories</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-show">
                            <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Kids">Kids</a>
                            <ul class="dropdown-nav category-list">
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Kids" asp-route-type="Watches">
                                        <span><img src="~/images/menu-cat-kids-watches.jpg" alt="Watches" /></span>
                                        <span>Watches</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Kids" asp-route-type="Glasses">
                                        <span><img src="~/images/menu-cat-kids-glasses.jpg" alt="Glasses" /></span>
                                        <span>Glasses</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Kids" asp-route-type="Rings">
                                        <span><img src="~/images/menu-cat-kids-rings.jpg" alt="Rings" /></span>
                                        <span>Rings</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Kids" asp-route-type="Necklaces">
                                        <span><img src="~/images/menu-cat-kids-necklaces.jpg" alt="Necklaces" /></span>
                                        <span>Necklaces</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Kids" asp-route-type="Bracelets">
                                        <span><img src="~/images/menu-cat-kids-bracelets.jpg" alt="Bracelets" /></span>
                                        <span>Bracelets</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Kids" asp-route-type="Other Accessories">
                                        <span><img src="~/images/menu-cat-kids-other.jpg" alt="Other Accessories" /></span>
                                        <span>Other Accessories</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-show">
                            <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-sale="true">Sale</a>
                            <ul class="dropdown-nav category-list">
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Women" asp-route-sale="true">
                                        <span><img src="~/images/menu-cat-sale-women.jpg" alt="Women" /></span>
                                        <span>Women</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Men" asp-route-sale="true">
                                        <span><img src="~/images/menu-cat-sale-men.jpg" alt="Men" /></span>
                                        <span>Men</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="Kids" asp-route-sale="true">
                                        <span><img src="~/images/menu-cat-sale-kids.jpg" alt="Kids" /></span>
                                        <span>Kids</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Stores">Stores</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="lay-right">
                <ul id="main-controls" class="header-list links-text-shadow">
                    <li>
                        <a href="#" id="main-search-open" role="button"><span class="icon icon-search2" aria-hidden="true"></span></a>
                        <div id="main-search">
                            <partial name="~/Views/Shared/PartialViews/_MainSearchPartial.cshtml" />
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon @(Context.User.Identity.IsAuthenticated ? "icon-user5" : "icon-user-plus")" aria-hidden="true"></span></a>
                        <div class="dropdown-menu dropdown-nav" data-dd-mega data-dd-mega-start="#main-profile-menu" data-dd-close="0">
                            <ul id="main-profile-menu">
                                @if (Context.User.Identity.IsAuthenticated && Context.User.Identity.GetRole().Equals("Admin"))
                                {
                                    <li class="primary-link-all pb-2 px-2"><a asp-area="Admin" asp-controller="Home" asp-action="Index" class="shadow-bold" data-dd-close="1"><span class="icon icon-console" aria-hidden="true"></span>Admin Interface</a></li>
                                    <li class="dropdown-divider m-3"></li>
                                }
                                @if (Context.User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-area="Account" asp-controller="Orders" asp-action="Index" data-dd-close="1"><span class="icon icon-stack1" aria-hidden="true"></span>Orders</a></li>
                                    <li><a asp-area="Account" asp-controller="Profile" asp-action="Index" data-dd-close="1"><span class="icon icon-vcard" aria-hidden="true"></span>Account</a></li>
                                    <li><a asp-area="Account" asp-controller="Authenticate" asp-action="Logout" data-dd-close="1"><span class="icon icon-exit" aria-hidden="true"></span>Log out</a></li>
                                }
                                else
                                {
                                    <li><a asp-area="Account" asp-controller="Authenticate" asp-action="Login" data-dd-close="1"><span class="icon icon-enter" aria-hidden="true"></span>Log In</a></li>
                                    <li><a asp-area="Account" asp-controller="Authenticate" asp-action="Register" data-dd-close="1"><span class="icon icon-pencil4" aria-hidden="true"></span>Sign Up</a></li>
                                }
                                <li class="dropdown-divider m-3"></li>
                                <li class="dropdown-sm"><a href="#" role="button" id="main-currency-btn" data-dd-mega-to="#main-currency-menu"><span class="icon icon-coin" aria-hidden="true"></span>Currency: <span class="font-weight-bold" data-updatable>@ClientCurrency.Currency.Code</span></a></li>
                                <li class="dropdown-sm"><a href="#" role="button" id="main-theme-btn" data-dd-mega-to="#main-theme-menu"><span class="icon icon-palette" aria-hidden="true"></span>Theme: <span class="font-weight-bold" data-updatable>@ClientTheme.Theme.DisplayName</span></a></li>
                            </ul>
                            <ul id="main-currency-menu" data-currency-set-link="@Url.Action("UpdateClientCurrency", "Preferences", new { area = "" })">
                                <li class="dropdown-header"><a href="#" role="button" data-dd-mega-to="#main-profile-menu"><span class="icon icon-arrow-left3" aria-hidden="true"></span></a><span>Currency</span></li>
                                @foreach (var currency in ClientCurrency.Options.SupportedCurrencies)
                                {
                                    <li>
                                        <a href="#" role="button" data-currency-set="@currency.Code" data-currency-set-symbol="@currency.Symbol" class="d-flex justify-content-between align-items-center">
                                            <span class="line-height-2">@currency.ToString()</span>
                                            @if (currency == ClientCurrency.Currency)
                                            {
                                                <span data-dd-check class="float-right m-0 txt-accent icon icon-checkmark2" aria-hidden="true"></span>
                                            }
                                        </a>
                                    </li>
                                }
                            </ul>
                            <ul id="main-theme-menu" data-theme-set-link="@Url.Action("UpdateClientTheme", "Preferences", new { area = "" })">
                                <li class="dropdown-header"><a href="#" role="button" data-dd-mega-to="#main-profile-menu"><span class="icon icon-arrow-left3" aria-hidden="true"></span></a><span>Theme</span></li>
                                @foreach (var theme in ClientTheme.Options.SupportedThemes)
                                {
                                    <li>
                                        <a href="#" role="button" data-theme-set="@theme.ID" data-theme-set-display="@theme.DisplayName">
                                            <span class="icon icon-theme-@theme.ID " aria-hidden="true"></span>
                                            <span>@string.Format("{0} theme", theme.DisplayName)</span>
                                            @if (theme == ClientTheme.Theme)
                                            {
                                                <span data-dd-check class="float-right m-0 txt-accent icon icon-checkmark2" aria-hidden="true"></span>
                                            }
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" role="button" data-toggle="modal" data-target="#wishlist-modal"><span class="icon icon-heart6" aria-hidden="true"></span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon icon-cart5" aria-hidden="true"></span><span class="count" id="mini-cart-counter" @(ClientCart.IsEmpty() ? "style=display:none;" : "")>@ClientCart.Count()</span></a>
                        <div id="mini-cart" class="dropdown-menu dropdown-menu-right dropdown-nav" data-dd-close="0" data-mini-cart-set-link="@Url.Action("MiniCartSet", "Cart", new { area = "Shop" })" data-mini-cart-remove-link="@Url.Action("MiniCartRemove", "Cart", new { area = "Shop" })">
                            <div class="mini-cart-wrapper" @(ClientCart.IsEmpty() ? "style=display:none;" : "" )>
                                <div class="mini-cart-items">
                                    @if (!ClientCart.IsEmpty())
                                    {
                                        foreach (var cartProduct in ClientCart.Cart.Products)
                                        {
                                            <div class="single-mini-product">
                                                <figure>
                                                    <a asp-area="Shop" asp-controller="Product" asp-action="Index" asp-route-id="@cartProduct.Product.Id" data-dd-close="1">
                                                        <img src="@cartProduct.Product.ImagePath" alt="@cartProduct.Product.Name" />
                                                    </a>
                                                </figure>
                                                <div class="product-details">
                                                    <h2><a asp-area="Shop" asp-controller="Product" asp-action="Index" asp-route-id="@cartProduct.Product.Id" data-dd-close="1">@cartProduct.Product.Name</a></h2>
                                                    <div class="quantity-x-price">
                                                        <span>@cartProduct.Quantity</span>
                                                        <span class="multiply">X</span>
                                                        <span class="price discount">
                                                            <span class="actual-price @(cartProduct.Product.IsOnSaleNow() ? "txt-accent" : "")">@ClientCurrency.GetPriceAndDisplay(cartProduct.Product.ActualPrice())</span>
                                                            <span class="regular-price"><strike>@(cartProduct.Product.IsOnSaleNow() ? ClientCurrency.GetPriceAndDisplay(cartProduct.Product.Price) : "")</strike></span>
                                                        </span>
                                                    </div>
                                                    <div class="actions">
                                                        <button type="button" class="remove-btn" data-remove-from-cart="@cartProduct.Product.Id"><span class="icon icon-remove1" aria-hidden="true"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="mini-cart-total">
                                    <span class="text-uppercase txt-secondary">Total</span>
                                    <strong id="mini-cart-total" class="text-uppercase">@ClientCurrency.GetPriceAndDisplay(ClientCart.GetTotalPrice())</strong>
                                </div>
                                <div class="mini-cart-actions">
                                    <a asp-area="Shop" asp-controller="Cart" asp-action="Index" data-dd-close="1" class="btn btn-link primary-link shadow-none">View Cart<span class="icon icon-arrow-right4 ml-2" aria-hidden="true"></span></a>
                                    <a asp-area="Shop" asp-controller="Order" asp-action="Checkout" data-dd-close="1" class="btn outline-primary">Checkout</a>
                                </div>
                            </div>
                            <div class="mini-cart-empty" @(ClientCart.IsEmpty() ? "" : "style=display:none;" )>
                                <h4 class="text-secondary text-center m-0 py-3">Your cart is empty.</h4>
                            </div>
                            @* Single Mini-Cart Item Template *@
                            <script type="text/html" id="mini-cart-item-template">
                                <div class="single-mini-product">
                                    <figure>
                                        <a href="@Url.Action("Index", "Product", new { area = "Shop", id = "" })/{id}" data-dd-close="1">
                                            <img src="{imagePath}" alt="{name}" />
                                        </a>
                                    </figure>
                                    <div class="product-details">
                                        <h2><a href="@Url.Action("Index", "Product", new { area = "Shop", id = "" })/{id}" data-dd-close="1">{name}</a></h2>
                                        <div class="quantity-x-price">
                                            <span>{quantity}</span>
                                            <span class="multiply">X</span>
                                            <span class="price discount">
                                                <span class="actual-price">{actualPrice}</span>
                                                <span class="regular-price"><strike>{regularPrice}</strike></span>
                                            </span>
                                        </div>
                                        <div class="actions">
                                            <button type="button" class="remove-btn" data-remove-from-cart="{id}"><span class="icon icon-remove1" aria-hidden="true"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </script>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    @* Wishlist Modal *@
    <partial name="~/Views/Shared/PartialViews/_WishlistModalPartial.cshtml" />

    @* Content *@
    <main id="main-content" role="main">
        @RenderBody()
    </main>

    @* Main Footer *@
    <footer id="main-footer">
        <div class="container">
            <div class="cols">
                <div class="col store">
                    <h3>Store</h3>
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Help">Help</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Terms">Terms &amp; Conditions</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    </ul>
                </div>
                <div class="col social">
                    <h3>Social</h3>
                    <ul>
                        <li><a href="@Configuration.GetSection("Metadata").GetSection("SocialLinks")["Instagram"]" target="_blank"><span class="icon icon-instagram" aria-hidden="true"></span>Instagram</a></li>
                        <li><a href="@Configuration.GetSection("Metadata").GetSection("SocialLinks")["Facebook"]" target="_blank"><span class="icon icon-facebook1" aria-hidden="true"></span>Facebook</a></li>
                        <li><a href="@Configuration.GetSection("Metadata").GetSection("SocialLinks")["Twitter"]" target="_blank"><span class="icon icon-twitter" aria-hidden="true"></span>Twitter</a></li>
                        <li><a href="@Configuration.GetSection("Metadata").GetSection("SocialLinks")["YouTube"]" target="_blank"><span class="icon icon-youtube" aria-hidden="true"></span>YouTube</a></li>
                    </ul>
                </div>
                <div class="col contact">
                    <h3>Contact us</h3>
                    <p class="line-height-1-5">@Configuration.GetSection("Metadata").GetSection("ContactInfo").GetSection("Address")["Name"]<br>@Configuration.GetSection("Metadata").GetSection("ContactInfo").GetSection("Address")["Street"]<br>@Configuration.GetSection("Metadata").GetSection("ContactInfo").GetSection("Address")["City"]</p>
                    <p><span class="icon icon-envelope1" aria-hidden="true"></span><a href="mailto:@Configuration.GetSection("Metadata").GetSection("ContactInfo")["Email"]">@Configuration.GetSection("Metadata").GetSection("ContactInfo")["Email"]</a></p>
                    <p><span class="icon icon-phone1" aria-hidden="true"></span><a href="tel:@Configuration.GetSection("Metadata").GetSection("ContactInfo")["PhoneLink"]">@Configuration.GetSection("Metadata").GetSection("ContactInfo")["PhoneDisplay"]</a></p>
                </div>
                <div class="col newsletter">
                    <h3>Join our newsletter</h3>
                    <p>Get Updates On Awesome Jewelry!<br>Daily Offers &amp; Discounts!</p>
                    <partial name="~/Views/Shared/PartialViews/_NewsletterSubscriptionPartial.cshtml" model="new SubscribeVM()" />
                </div>
            </div>
            <p class="copyright">&copy; @DateTime.Now.Year Jewellis. All rights reserved.</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <script>
        var clientCart = @Html.Raw(ClientCart.IsEmpty() ? "[]" : Json.Serialize(ClientCart.Cart.Products.Select(p => new
                    {
                        id = p.Product.Id,
                        name = p.Product.Name,
                        imagePath = p.Product.ImagePath,
                        actualPrice = ClientCurrency.GetPriceAndDisplay(p.Product.ActualPrice()),
                        regularPrice = (p.Product.IsOnSaleNow() ? ClientCurrency.GetPriceAndDisplay(p.Product.Price) : null),
                        quantity = p.Quantity
                    })).ToString());
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
