@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject Jewellis.App_Custom.Services.ClientTheme.ClientThemeService ClientTheme

@{
    var currentTheme = ClientTheme.GetCurrent();
}

<!DOCTYPE html>
<html lang="en" theme="@currentTheme.ID">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Jewellis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
</head>
<body>
    @* Main Header *@
    <header id="main-header" class="fixed-top">
        <div class="lay-wrapper">
            <div class="lay-left">
                <h1 id="main-logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </h1>
                <button id="main-menu-toggler" class="text-shadow" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Menu">
                    <span class="icon icon-menu3" aria-hidden="true"></span>
                </button>
            </div>
            <div class="lay-middle">
                <nav id="main-menu">
                    <ul class="header-list links-text-shadow">
                        <li class="dropdown-show">
                            <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Women">Women</a>
                            <ul class="dropdown-nav category-list">
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Women" asp-route-type="Rings">
                                        <span><img src="~/images/menu-cat-women-rings.jpg" alt="Rings" /></span>
                                        <span>Rings</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Women" asp-route-type="Earrings">
                                        <span><img src="~/images/menu-cat-women-earings.jpg" alt="Earrings" /></span>
                                        <span>Earrings</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Women" asp-route-type="Necklaces">
                                        <span><img src="~/images/menu-cat-women-necklaces.jpg" alt="Necklaces" /></span>
                                        <span>Necklaces</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Women" asp-route-type="Bracelets">
                                        <span><img src="~/images/menu-cat-women-bracelets.jpg" alt="Bracelets" /></span>
                                        <span>Bracelets</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Women" asp-route-type="Watches">
                                        <span><img src="~/images/menu-cat-women-watches.jpg" alt="Watches" /></span>
                                        <span>Watches</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Women" asp-route-type="Glasses">
                                        <span><img src="~/images/menu-cat-women-glasses.jpg" alt="Glasses" /></span>
                                        <span>Glasses</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Women" asp-route-type="Other">
                                        <span><img src="~/images/menu-cat-women-other.jpg" alt="Other Accessories" /></span>
                                        <span>Other Accessories</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-show">
                            <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Men">Men</a>
                            <ul class="dropdown-nav category-list">
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Men" asp-route-type="Watches">
                                        <span><img src="~/images/menu-cat-men-watches.jpg" alt="Watches" /></span>
                                        <span>Watches</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Men" asp-route-type="Glasses">
                                        <span><img src="~/images/menu-cat-men-glasses.jpg" alt="Glasses" /></span>
                                        <span>Glasses</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Men" asp-route-type="Rings">
                                        <span><img src="~/images/menu-cat-men-rings.jpg" alt="Rings" /></span>
                                        <span>Rings</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Men" asp-route-type="Necklaces">
                                        <span><img src="~/images/menu-cat-men-necklaces.jpg" alt="Necklaces" /></span>
                                        <span>Necklaces</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Men" asp-route-type="Other">
                                        <span><img src="~/images/menu-cat-men-other.jpg" alt="Other Accessories" /></span>
                                        <span>Other Accessories</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-show">
                            <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Kids">Kids</a>
                            <ul class="dropdown-nav category-list">
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Kids" asp-route-type="Watches">
                                        <span><img src="~/images/menu-cat-kids-watches.jpg" alt="Watches" /></span>
                                        <span>Watches</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Kids" asp-route-type="Glasses">
                                        <span><img src="~/images/menu-cat-kids-glasses.jpg" alt="Glasses" /></span>
                                        <span>Glasses</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Kids" asp-route-type="Rings">
                                        <span><img src="~/images/menu-cat-kids-rings.jpg" alt="Rings" /></span>
                                        <span>Rings</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Kids" asp-route-type="Necklaces">
                                        <span><img src="~/images/menu-cat-kids-necklaces.jpg" alt="Necklaces" /></span>
                                        <span>Necklaces</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Kids" asp-route-type="Bracelets">
                                        <span><img src="~/images/menu-cat-kids-bracelets.jpg" alt="Bracelets" /></span>
                                        <span>Bracelets</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Index" asp-route-category="Kids" asp-route-type="Other">
                                        <span><img src="~/images/menu-cat-kids-other.jpg" alt="Other Accessories" /></span>
                                        <span>Other Accessories</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-show">
                            <a asp-area="" asp-controller="Shop" asp-action="Sale">Sale</a>
                            <ul class="dropdown-nav category-list">
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Sale" asp-route-category="Women">
                                        <span><img src="~/images/menu-cat-sale-women.jpg" alt="Women" /></span>
                                        <span>Women</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Sale" asp-route-category="Men">
                                        <span><img src="~/images/menu-cat-sale-men.jpg" alt="Men" /></span>
                                        <span>Men</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Shop" asp-action="Sale" asp-route-category="Kids">
                                        <span><img src="~/images/menu-cat-sale-kids.jpg" alt="Kids" /></span>
                                        <span>Kids</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Stores">Stores</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="lay-right">
                <ul id="main-controls" class="header-list links-text-shadow">
                    <li>
                        <a href="#" id="main-search-open" role="button"><span class="icon icon-search2" aria-hidden="true"></span></a>
                        <div id="main-search">
                            <div class="search-header">
                                <div class="lay-wrapper h-100">
                                    <div class="lay-middle w-100">
                                        <div class="search-box w-100">
                                            <form action="#" method="post">
                                                <div class="i-txt-with-btn-wrapper">
                                                    <input type="search" id="search-query" class="i-txt" placeholder="Type keywords here..." required />
                                                    <button type="submit" class="btn outline-primary mob-icon"><span class="mob-icon-text">Search</span><span class="icon icon-search2" aria-hidden="true"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="lay-right">
                                        <button id="main-search-close" class="primary-link" type="button"><span class="icon icon-close2"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="search-body">

                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon icon-user5" aria-hidden="true"></span></a>
                        <div class="dropdown-menu dropdown-nav" data-dd-mega data-dd-mega-start="#main-profile-menu">
                            <ul id="main-profile-menu">
                                @*<li class="primary-link-all pb-2 px-2"><a asp-area="" asp-controller="Admin" asp-action="Index" class="shadow-bold"><span class="icon icon-console" aria-hidden="true"></span>Admin Interface</a></li>
                                    <li class="dropdown-divider m-3"></li>*@
                                <li><a asp-area="" asp-controller="Account" asp-action="Orders"><span class="icon icon-stack1" aria-hidden="true"></span>Orders</a></li>
                                <li><a asp-area="" asp-controller="Account" asp-action="Profile"><span class="icon icon-vcard" aria-hidden="true"></span>Account</a></li>
                                <li><a asp-area="" asp-controller="Account" asp-action="LogOut"><span class="icon icon-exit" aria-hidden="true"></span>Log out</a></li>
                                @*<li><a asp-area="" asp-controller="Account" asp-action="LogIn"><span class="icon icon-enter" aria-hidden="true"></span>Log In</a></li>
                                    <li><a asp-area="" asp-controller="Account" asp-action="Register"><span class="icon icon-pencil4" aria-hidden="true"></span>Sign Up</a></li>*@
                                <li class="dropdown-divider m-3"></li>
                                <li class="dropdown-sm"><a href="#" role="button"><span class="icon icon-coin" aria-hidden="true"></span>Currency: <span class="font-weight-bold">USD</span></a></li>
                                <li class="dropdown-sm"><a href="#" role="button" id="main-theme-btn" data-dd-close="0" data-dd-mega-to="#main-theme-menu"><span class="icon icon-palette" aria-hidden="true"></span>Theme: <span class="font-weight-bold" data-variable>@currentTheme.DisplayName</span></a></li>
                            </ul>
                            <ul id="main-theme-menu">
                                <li class="dropdown-header"><a href="#" role="button" data-dd-close="0" data-dd-mega-to="#main-profile-menu"><span class="icon icon-arrow-left3" aria-hidden="true"></span></a><span>Theme</span></li>
                                @foreach (var theme in ClientTheme.Options.SupportedThemes)
                                {
                                    <li>
                                        <a href="#" role="button" data-dd-close="0" data-theme-set="@theme.ID" data-theme-set-val="@theme.CookieValue" data-theme-set-display="@theme.DisplayName">
                                            <span class="icon icon-theme-@theme.ID " aria-hidden="true"></span>
                                            <span>@string.Format("{0} theme", theme.DisplayName)</span>
                                            @if (theme == currentTheme)
                                            {
                                                <span data-dd-check class="float-right m-0 txt-accent icon icon-checkmark2" aria-hidden="true"></span>
                                            }
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" role="button" data-toggle="modal" data-target="#wishlist-modal"><span class="icon icon-heart6" aria-hidden="true"></span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon icon-cart5" aria-hidden="true"></span><span class="count">3</span></a>
                        <div id="mini-cart" class="dropdown-menu dropdown-menu-right dropdown-nav">
                            @*<div class="mini-cart-empty">
                                    <h4 class="text-secondary text-center m-0 py-3">Your cart is empty.</h4>
                                </div>*@
                            <div class="mini-cart-items">
                                <div class="single-mini-product">
                                    <figure>
                                        <a asp-area="" asp-controller="Product" asp-action="View" asp-route-id="1">
                                            <img src="~/images/product-1.jpg" alt="Product 1" />
                                        </a>
                                    </figure>
                                    <div class="product-details">
                                        <h2><a asp-area="" asp-controller="Product" asp-action="View" asp-route-id="1">Sprite Yoga Companion</a></h2>
                                        <div class="quantity-x-price">
                                            <span>3</span>
                                            <span class="multiply">X</span>
                                            <span>$77.00</span>
                                        </div>
                                        <div class="actions">
                                            <button type="button" class="remove-btn"><span class="icon icon-remove1" aria-hidden="true"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-mini-product">
                                    <figure>
                                        <a asp-area="" asp-controller="Product" asp-action="View" asp-route-id="2">

                                            <img src="~/images/product-2.jpg" alt="Product 2" />
                                        </a>
                                    </figure>
                                    <div class="product-details">
                                        <h2><a asp-area="" asp-controller="Product" asp-action="View" asp-route-id="2">Yoga Companion Kit</a></h2>
                                        <div class="quantity-x-price">
                                            <span>2</span>
                                            <span class="multiply">X</span>
                                            <span>$6.00</span>
                                        </div>
                                        <div class="actions">
                                            <button type="button" class="remove-btn"><span class="icon icon-remove1" aria-hidden="true"></span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-mini-product">
                                    <figure>
                                        <a asp-area="" asp-controller="Product" asp-action="View" asp-route-id="3">
                                            <img src="~/images/product-3.jpg" alt="Product 3" />
                                        </a>
                                    </figure>
                                    <div class="product-details">
                                        <h2><a asp-area="" asp-controller="Product" asp-action="View" asp-route-id="3">Sprite Yoga Companion Kit</a></h2>
                                        <div class="quantity-x-price">
                                            <span>1</span>
                                            <span class="multiply">X</span>
                                            <span>$116.00</span>
                                        </div>
                                        <div class="actions">
                                            <button type="button" class="remove-btn"><span class="icon icon-remove1" aria-hidden="true"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mini-cart-total">
                                <span class="text-uppercase txt-secondary">Total</span>
                                <strong class="text-uppercase">$240.00</strong>
                            </div>
                            <div class="mini-cart-actions">
                                <a asp-area="" asp-controller="Cart" asp-action="ViewCart" class="btn btn-link primary-link shadow-none">View Cart<span class="icon icon-arrow-right4 ml-2" aria-hidden="true"></span></a>
                                <a asp-area="" asp-controller="Order" asp-action="Checkout" class="btn outline-primary">Checkout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    @* Wishlist Modal *@
    <div class="modal right fade" id="wishlist-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header px-5 pt-4">
                    <h2 class="modal-title">Wishlist</h2>
                    <button type="button" class="p-3 m-0 h2" data-dismiss="modal" aria-label="Close"><span class="icon icon-close" aria-hidden="true"></span></button>
                </div>
                <div class="modal-body px-5 py-4">
                    @*<div class="d-flex justify-content-center align-items-center h-100">
                            <div class="mini-cart-empty">
                                <div class="text-center txt-secondary mb-2"><span class="icon icon-heart-broken display-1" aria-hidden="true"></span></div>
                                <h4 class="text-secondary text-center m-0 py-3">Your wishlist is empty.</h4>
                            </div>
                        </div>*@
                    <div class="mini-wishlist-items">
                        <div class="single-mini-product">
                            <figure>
                                <a href="@Url.Action("View", "Product", new { area = "Shop", id = "1" })">
                                    <img src="~/images/product-1.jpg" alt="Product 1" />
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2><a href="@Url.Action("View", "Product", new { area = "Shop", id = "1" })">Sprite Yoga Companion</a></h2>
                                <div class="quantity-x-price">
                                    <span>$77.00</span>
                                </div>
                                <div class="actions d-flex justify-content-between">
                                    <div class="d-flex">
                                        <div data-in-num data-in-num-min="1" data-in-num-max="10" class="d-flex justify-content-center align-items-center">
                                            <button type="button" class="primary-link py-2 pr-2 pl-0 mr-1" data-in-num-dec>-</button>
                                            <input type="text" class="i-txt text-center maxw-5 p-1 m-0" value="1">
                                            <button type="button" class="primary-link p-2 ml-1" data-in-num-inc>+</button>
                                        </div>
                                        <button type="button" class="btn btn-mini outline-primary mob-icon px-3 mx-3"><span class="mob-icon-text">Add to Cart</span><span class="icon icon-cart-plus txt-md" aria-hidden="true"></span></button>
                                    </div>
                                    <button type="button" class="wishlist-heart"><span class="icon icon-heart6" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="single-mini-product">
                            <figure>
                                <a href="@Url.Action("View", "Product", new { area = "Shop", id = "2" })">
                                    <img src="~/images/product-2.jpg" alt="Product 2" />
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2><a href="@Url.Action("View", "Product", new { area = "Shop", id = "2" })">Yoga Companion Kit</a></h2>
                                <div class="quantity-x-price">
                                    <span>$58.00</span>
                                </div>
                                <div class="actions d-flex justify-content-between">
                                    <div class="d-flex">
                                        <div data-in-num data-in-num-min="1" data-in-num-max="10" class="d-flex justify-content-center align-items-center">
                                            <button type="button" class="primary-link py-2 pr-2 pl-0 mr-1" data-in-num-dec>-</button>
                                            <input type="text" class="i-txt text-center maxw-5 p-1 m-0" value="1">
                                            <button type="button" class="primary-link p-2 ml-1" data-in-num-inc>+</button>
                                        </div>
                                        <button type="button" class="btn btn-mini outline-primary mob-icon px-3 mx-3"><span class="mob-icon-text">Add to Cart</span><span class="icon icon-cart-plus txt-md" aria-hidden="true"></span></button>
                                    </div>
                                    <button type="button" class="wishlist-heart"><span class="icon icon-heart6" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="single-mini-product">
                            <figure>
                                <a href="@Url.Action("View", "Product", new { area = "Shop", id = "3" })">
                                    <img src="~/images/product-3.jpg" alt="Product 3" />
                                </a>
                            </figure>
                            <div class="product-details">
                                <h2><a href="@Url.Action("View", "Product", new { area = "Shop", id = "3" })">Sprite Yoga Companion Kit</a></h2>
                                <div class="quantity-x-price">
                                    <span>$20.00</span>
                                </div>
                                <div class="actions d-flex justify-content-between">
                                    <div class="d-flex">
                                        <div data-in-num data-in-num-min="1" data-in-num-max="10" class="d-flex justify-content-center align-items-center">
                                            <button type="button" class="primary-link py-2 pr-2 pl-0 mr-1" data-in-num-dec>-</button>
                                            <input type="text" class="i-txt text-center maxw-5 p-1 m-0" value="1">
                                            <button type="button" class="primary-link p-2 ml-1" data-in-num-inc>+</button>
                                        </div>
                                        <button type="button" class="btn btn-mini outline-primary mob-icon px-3 mx-3"><span class="mob-icon-text">Add to Cart</span><span class="icon icon-cart-plus txt-md" aria-hidden="true"></span></button>
                                    </div>
                                    <button type="button" class="wishlist-heart"><span class="icon icon-heart6" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer p-5">
                    <a href="@Url.Action("Wishlist", "Account")" class="btn outline-primary w-100">View Wishlist<span class="icon icon-arrow-right4 icon-top-adjust ml-2" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>

    @* Content *@
    <main id="main-content" role="main">
        @RenderBody()
    </main>

    @* Main Footer *@
    <footer id="main-footer">
        <div class="container">
            <div class="cols">
                <div class="col store">
                    <h3>Store</h3>
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Help">Help</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Terms">Terms &amp; Conditions</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    </ul>
                </div>
                <div class="col social">
                    <h3>Social</h3>
                    <ul>
                        <li><a href="@Configuration.GetSection("Metadata").GetSection("SocialLinks")["Instagram"]" target="_blank"><span class="icon icon-instagram" aria-hidden="true"></span>Instagram</a></li>
                        <li><a href="@Configuration.GetSection("Metadata").GetSection("SocialLinks")["Facebook"]" target="_blank"><span class="icon icon-facebook1" aria-hidden="true"></span>Facebook</a></li>
                        <li><a href="@Configuration.GetSection("Metadata").GetSection("SocialLinks")["Twitter"]" target="_blank"><span class="icon icon-twitter" aria-hidden="true"></span>Twitter</a></li>
                        <li><a href="@Configuration.GetSection("Metadata").GetSection("SocialLinks")["YouTube"]" target="_blank"><span class="icon icon-youtube" aria-hidden="true"></span>YouTube</a></li>
                    </ul>
                </div>
                <div class="col contact">
                    <h3>Contact us</h3>
                    <p class="line-height-1-5">@Configuration.GetSection("Metadata").GetSection("ContactInfo").GetSection("Address")["Name"]<br>@Configuration.GetSection("Metadata").GetSection("ContactInfo").GetSection("Address")["Street"]<br>@Configuration.GetSection("Metadata").GetSection("ContactInfo").GetSection("Address")["City"]</p>
                    <p><span class="icon icon-envelope1" aria-hidden="true"></span><a href="mailto:@Configuration.GetSection("Metadata").GetSection("ContactInfo")["Email"]">@Configuration.GetSection("Metadata").GetSection("ContactInfo")["Email"]</a></p>
                    <p><span class="icon icon-phone1" aria-hidden="true"></span><a href="tel:@Configuration.GetSection("Metadata").GetSection("ContactInfo")["PhoneLink"]">@Configuration.GetSection("Metadata").GetSection("ContactInfo")["PhoneDisplay"]</a></p>
                </div>
                <div class="col newsletter">
                    <h3>Join our newsletter</h3>
                    <p>Get Updates On Awesome Jewelry!<br>Daily Offers &amp; Discounts!</p>
                    <form action="" method="post">
                        <div class="i-txt-with-btn-wrapper rounded mt-4 bg-background">
                            <input type="email" name="email" id="sub-email" class="i-txt italic border-0 m-0" placeholder="Your email address..." required />
                            <button type="submit" class="btn txt-secondary"><span class="icon icon-paperplane" aria-hidden="true"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <p class="copyright">&copy; @DateTime.Now.Year Jewellis. All rights reserved.</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
