@inject Jewellis.App_Custom.Services.ClientCurrency.ClientCurrencyService ClientCurrency

@model Jewellis.Models.Product

@{
    ViewData["Title"] = Model.Name;

    var cartProductInfoJSON = Json.Serialize(new
    {
        id = Model.Id,
        name = Model.Name,
        imagePath = Model.ImagePath,
        actualPrice = ClientCurrency.GetPriceAndDisplay(Model.ActualPrice()),
        regularPrice = (Model.IsOnSaleNow() ? ClientCurrency.GetPriceAndDisplay(Model.Price) : null)
    }).ToString();
}

<section class="bg-light-2">
    <div class="sec-container">
        <div class="form-container bg-white">
            <ul class="breadcrumb product-breadcrumb bg-light-1 p-4 mb-5">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="primary-link"><u>Home</u></a></li>
                <li class="breadcrumb-item"><a asp-area="Shop" asp-controller="Home" asp-action="Index" class="primary-link"><u>Shop</u></a></li>
                <li class="breadcrumb-item"><a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category.Name" class="primary-link"><u>@Model.Category.Name</u></a></li>
                <li class="breadcrumb-item"><a asp-area="Shop" asp-controller="Home" asp-action="Index" asp-route-category="@Model.Category.Name" asp-route-type="@Model.Type.Name" class="primary-link"><u>@Model.Type.Name</u></a></li>
                <li class="breadcrumb-item">@Model.Name</li>
            </ul>
            <div class="product-view">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-img bg-light-1 mb-5 mb-md-0">
                            <img src="@Model.ImagePath" alt="@Model.Name" />
                        </div>
                    </div>
                    <div class="col-md-8 px-4 pl-md-5">
                        <h1 class="product-title">@Model.Name</h1>
                        @if (Model.IsOnSaleNow())
                        {
                            <div class="product-price discount">
                                <span class="actual-price">@ClientCurrency.GetPriceAndDisplay(Model.ActualPrice())</span>
                                <span class="regular-price"><strike>@ClientCurrency.GetPriceAndDisplay(Model.Price)</strike></span>
                                <span class="tag tag-danger txt-md text-uppercase px-4 m-3">@Html.DisplayFor(m => Model.Sale.DiscountRate) Off</span>
                            </div>
                        }
                        else
                        {
                            <div class="product-price">
                                <span class="actual-price">@ClientCurrency.GetPriceAndDisplay(Model.Price)</span>
                            </div>
                        }
                        <p class="product-desc pre-line">@Model.Description</p>
                        <div class="product-actions d-flex align-items-end flex-wrap">
                            <span data-in-num data-in-num-min="1" data-in-num-max="10" class="mr-4">
                                <button type="button" class="primary-link p-3 mr-1" data-in-num-dec>-</button>
                                <input type="text" class="i-txt text-center maxw-6 py-3 m-0" value="1" data-add-to-cart-quantity>
                                <button type="button" class="primary-link p-3 ml-1" data-in-num-inc>+</button>
                            </span>
                            <button type="button" data-add-to-cart="@cartProductInfoJSON" class="btn btn-primary hover-push px-5 mt-4">Add to Cart<span class="icon icon-cart5 icon-top-adjust ml-3"></span></button>
                        </div>
                        <hr class="sec-separator mb-5" />
                        <button type="button" data-add-to-wishlist="@cartProductInfoJSON" class="btn outline-primary txt-md">Add to Wishlist<span class="icon icon-heart6 icon-top-adjust ml-3"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
