@model Jewellis.Areas.Admin.ViewModels.Sales.IndexVM

@{
    ViewData["Title"] = "Sales";

    List<Sale> sales = (ViewData["SalesModel"] as List<Sale>);
}

<section class="bg-light-2">
    <div class="sec-container">
        <div class="maxw-2xl m-auto">
            <ul class="breadcrumb p-0 mb-5">
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index" class="primary-link"><u>Admin</u></a></li>
                <li class="breadcrumb-item">Sales</li>
            </ul>
            <h1 class="title-1 font-weight-bold mb-5">Sales</h1>
            <div class="form-container bg-white mb-5">
                <div class="d-flex flex-column flex-xl-row flex-wrap align-items-end">
                    <div class="flex-fill w-100 w-xl-auto mb-5 mr-xl-5">
                        <form asp-area="Admin" asp-controller="Sales" asp-action="Index" method="get">
                            <div class="d-flex flex-column flex-lg-row align-items-end">
                                <div class="row flex-fill w-100 w-lg-auto align-items-end p-0 m-0 mb-4 mb-lg-0">
                                    <div class="col-md-8 p-0 mb-4 mb-md-0">
                                        <label asp-for="DuringStart" class="font-weight-bold">Sales Running On Specific Times:</label>
                                        <div class="d-flex align-items-center during-dates p-0 pr-md-5">
                                            <div class="during-dates-date">
                                                <input asp-for="DuringStart" class="i-txt bg-input-txt" />
                                                <span asp-validation-for="DuringStart" class="text-danger"></span>
                                            </div>
                                            <label asp-for="DuringEnd" class="during-dates-to">to</label>
                                            <div class="during-dates-date">
                                                <input asp-for="DuringEnd" class="i-txt bg-input-txt" />
                                                <span asp-validation-for="DuringEnd" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 p-0 pr-lg-5">
                                        <input asp-for="Query" class="i-txt bg-input-txt" autocomplete="off" />
                                        <span asp-validation-for="Query" class="text-danger"></span>
                                    </div>
                                </div>
                                <button type="submit" class="btn outline-primary mob-icon px-5"><span class="mob-icon-text">Search</span><span class="icon icon-search2 icon-top-adjust" aria-hidden="true"></span></button>
                            </div>
                        </form>
                    </div>
                    <a asp-area="Admin" asp-controller="Sales" asp-action="Create" class="btn btn-primary mb-5">Create New<span class="icon icon-plus icon-top-adjust ml-3" aria-hidden="true"></span></a>
                </div>
                <div class="border">
                    <div class="table-header text-center">
                        <div class="d-flex">
                            <div class="row flex-fill">
                                <div class="col-md-7">Sale</div>
                                <div class="col-md-5 d-none d-md-block">Discount</div>
                            </div>
                            <div class="table-actions d-none d-lg-block">Actions</div>
                        </div>
                    </div>
                    <div class="table-body">
                        @foreach (Sale sale in sales)
                        {
                            <div class="table-row hover-bg px-4 py-5">
                                <div class="d-flex flex-column flex-lg-row justify-content-end align-items-center">
                                    <div class="row flex-fill d-flex align-items-center w-100 w-lg-auto px-lg-5 mb-4 mb-lg-0">
                                        <div class="col-md-7 text-center text-md-left">
                                            <a asp-area="Admin" asp-controller="Sales" asp-action="Details" asp-route-id="@sale.Id" class="primary-link font-weight-bold text-ellipsis d-inline-block">@sale.Name</a>
                                            <p class="text-ellipsis m-0">
                                                @if (sale.DateEnd.HasValue)
                                                {
                                                    <span>During: @sale.DateStart.ToShortDateString() - @sale.DateEnd.Value.ToShortDateString()</span>
                                                }
                                                else
                                                {
                                                    if (DateTime.Now > sale.DateStart)
                                                    {
                                                        <span>Started: @sale.DateStart.ToShortDateString()</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Starts: @sale.DateStart.ToShortDateString()</span>
                                                    }
                                                }
                                            </p>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <div class="py-3">@Html.DisplayFor(m => sale.DiscountRate)</div>
                                        </div>
                                    </div>
                                    <div class="w-100 w-md-auto text-center text-lg-right px-3">
                                        <a asp-area="Admin" asp-controller="Sales" asp-action="Details" asp-route-id="@sale.Id" class="btn btn-sm txt-md outline-info m-1">Details</a>
                                        <a asp-area="Admin" asp-controller="Sales" asp-action="Edit" asp-route-id="@sale.Id" class="btn btn-sm txt-md outline-warning m-1">Edit</a>
                                        <a asp-area="Admin" asp-controller="Sales" asp-action="Delete" asp-route-id="@sale.Id" class="btn btn-sm txt-md outline-danger m-1">Delete</a>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (sales.Count < 1)
                        {
                            <p class="text-center txt-secondary p-5">No Results.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
